#include "C:\Program Files (x86)\XSharp\\Include\NativeResourceDefines.xh"
#include "D:\develop\xsharp\voapps\folhapto\Menu.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\Jan.Dia.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\firma.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\contas.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\tabturno.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\foptohor.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\foptoeve.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\fo_pot.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\foptoalm.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\escrel.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\foptopro.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\dialogos.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\fo_phor.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\fo_dio.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\fo_pman.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\fo_poco.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\fo_pdes.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\foptorev.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\fo_pes.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\bcoreq.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\bcohrs.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\fo_pon.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\Fo_relhr.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\foptohre.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\foptocom.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\nfcc.jan.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\jcesta.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\jctrhor.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\jwrel.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\jdepto.prg.rc"
#include "D:\develop\xsharp\voapps\folhapto\jfo_tab.prg.rc"
