EMPTYSHELLMENU ACCELERATORS
Begin
	115, 21790, ALT, VIRTKEY
	112, 21803, VIRTKEY
End
 
EMPTYSHELLMENU MENU
Begin
	POPUP "&Arquivo"
	BEGIN
		POPUP "Controle de Normas"
		BEGIN
			MENUITEM "Normas", 21781
			MENUITEM "Tipos", 21782
		END
		MENUITEM "Indexar", 21783
		MENUITEM "C&onfigurar Impressora ..", 21784
		MENUITEM "teste preview RTF", 21785
		MENUITEM "teste preview txt", 21786
		MENUITEM "teste preview bmp", 21787
		MENUITEM "teste preview dbf", 21788
		MENUITEM SEPARATOR
		MENUITEM "&Sair\tAlt+F4", 21790
	END
	POPUP "&Relatorios"
	BEGIN
		MENUITEM "Relatorios Engenharia", 21792
		MENUITEM "WRPT", 21793
		MENUITEM "WRPT Integrado", 21794
		MENUITEM "lstview logix", 21795
	END
	POPUP "Utilitarios"
	BEGIN
		POPUP "Email"
		BEGIN
			MENUITEM "Consulta", 21798
			MENUITEM "Geral", 21799
			MENUITEM "Configuracao", 21800
		END
		MENUITEM "Checar CGC/CPF/IE...", 21801
	END
	POPUP "&?"
	BEGIN
		MENUITEM "&Indice\tF1", 21803
		MENUITEM "&Usando a Ajuda", 21804
		MENUITEM SEPARATOR
		MENUITEM "Atualização", 21806
		MENUITEM "&Sobre...", 21807
	END
End
 
