#include "C:\develop\xsharp\voapps\Sintegra\Menu.prg.rc"
#include "C:\develop\xsharp\voapps\Sintegra\jimp.prg.rc"
#include "C:\develop\xsharp\voapps\Sintegra\JREG50.prg.rc"
#include "C:\develop\xsharp\voapps\Sintegra\jcnpjie.prg.rc"
#include "C:\develop\xsharp\voapps\Sintegra\jemp.prg.rc"
#include "C:\develop\xsharp\voapps\Sintegra\juf.prg.rc"
#include "C:\develop\xsharp\voapps\Sintegra\jreg54.prg.rc"
#include "C:\develop\xsharp\voapps\Sintegra\jreg75.prg.rc"
#include "C:\develop\xsharp\voapps\Sintegra\a1mix.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\Sintegra\a2mix.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\Sintegra\jimpdiv.prg.rc"
