#include "C:\develop\xsharp\voapps\RH\Menus.prg.rc"
#include "C:\develop\xsharp\voapps\RH\TREIN.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\RH\Curso.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\RH\TREII.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\RH\MP02C.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\RH\CUREMP.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\RH\CUREMI.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\RH\MP05.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\RH\MP06.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\RH\Treinf.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\RH\MP02P.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\RH\Procedim.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\RH\PTI.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\RH\PT.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\RH\JTRO.Jan.Troca.prg.rc"
#include "C:\develop\xsharp\voapps\RH\RHSEL.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\RH\RHAB.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\RH\curgrp.jan.prg.rc"
#include "C:\develop\xsharp\voapps\RH\jan.jtrjob.prg.rc"
#include "C:\develop\xsharp\voapps\RH\jan.jtrjobi.prg.rc"
#include "C:\develop\xsharp\voapps\RH\dia.trein.prg.rc"
#include "C:\develop\xsharp\voapps\RH\Jcodesc.prg.rc"
#include "C:\develop\xsharp\voapps\RH\MP02.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\RH\JimpTr.jan.prg.rc"
#include "C:\develop\xsharp\voapps\RH\jfo_tab.prg.rc"
