
*.cache
*.bak
*.CopyComplete
*.FileListAbsolute.txt 
\develop\xsharp\rightslenet\RightSLE\Debug\*.*
\develop\xsharp\rightslenet\RightSLE\obj\Debug\*.*
\develop\xsharp\rightslenet\RightSLE\obj\Release\*.*
\develop\xsharp\rightslenet\RightSLE\Release\*.*
\develop\xsharp\rightslenet\TestRightSLEMini\Debug\*.*
\develop\xsharp\rightslenet\TestRightSLEMini\obj\Debug\*.*
\develop\xsharp\rightslenet\TestRightSLEMini\obj\Release\*.*
\develop\xsharp\rightslenet\TestRightSLEMini\Release\*.*
\develop\xsharp\rightslenet\TestRightSLEonHybrid\TestRightSLEonHybrid\Debug\*.*
\develop\xsharp\rightslenet\TestRightSLEonHybrid\TestRightSLEonHybrid\obj\Debug\*.*
\develop\xsharp\rightslenet\TestRightSLEonHybrid\TestRightSLEonHybrid\obj\Release\*.*
\develop\xsharp\voapps\Banco\Debug\*.*
\develop\xsharp\voapps\checagem\Debug\*.*
\develop\xsharp\voapps\crm\debug\*.*
\develop\xsharp\voapps\custo\Debug\*.*
\develop\xsharp\voapps\Debug\*.*
\develop\xsharp\voapps\emailprg\Debug\*.*
\develop\xsharp\voapps\engenharia\Debug\*.*
\develop\xsharp\voapps\esccodnom\Debug\*.*
\develop\xsharp\voapps\escferram\Debug\*.*
\develop\xsharp\voapps\escnumnom\Debug\*.*
\develop\xsharp\voapps\escolhemp04\Debug\*.*
\develop\xsharp\voapps\escpf\Debug\*.*
\develop\xsharp\voapps\Fab PaintLib Controlvo\Debug\*.*
\develop\xsharp\voapps\Fab PaintLibvo\Debug\*.*
\develop\xsharp\voapps\ferramental\Debug\*.*
\develop\xsharp\voapps\final\Debug\*.*
\develop\xsharp\voapps\folhapto\Debug\*.*
\develop\xsharp\voapps\instrumentos\Debug\*.*
\develop\xsharp\voapps\joscrt\Debug\*.*
\develop\xsharp\voapps\login\Debug\*.*
\develop\xsharp\voapps\logix\Debug\*.*
\develop\xsharp\voapps\ma01.jan\Debug\*.*
\develop\xsharp\voapps\mail\Debug\*.*
\develop\xsharp\voapps\mb01.jan\Debug\*.*
\develop\xsharp\voapps\me04.jan\Debug\*.*
\develop\xsharp\voapps\mlibwvo27\Debug\*.*
\develop\xsharp\voapps\mp04.jan\Debug\*.*
\develop\xsharp\voapps\mp05.jan\Debug\*.*
\develop\xsharp\voapps\msseqcom\Debug\*.*
\develop\xsharp\voapps\pcp\Debug\*.*
\develop\xsharp\voapps\peg.met\Debug\*.*
\develop\xsharp\voapps\producao\Debug\*.*
\develop\xsharp\voapps\qualidade\Debug\*.*
\develop\xsharp\voapps\rh\Debug\*.*
\develop\xsharp\voapps\rh_pto\Debug\*.*
\develop\xsharp\voapps\rightsle\Debug\*.*
\develop\xsharp\voapps\sintegra\Debug\*.*
\develop\xsharp\voapps\sistema\Debug\*.*
\develop\xsharp\voapps\somaano\Debug\*.*
\develop\xsharp\voapps\tgq\Debug\*.*
\develop\xsharp\voapps\viabilidade\Debug\*.*
\develop\xsharp\voapps\voretrun\Debug\*.*
voapps/FabPaintLibvo/Properties/AssemblyInfo.prg.terabox.uploading.cfg
voapps/FabPaintLibvo/Properties/CavoWED.inf.terabox.uploading.cfg
