#include "C:\develop\xsharp\voapps\Qualidade\Menus.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\ACP.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\PAC.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\ACDI.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\ACD.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\TEEP.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\RII.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\CI.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\CII.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\RI.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\CICI.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\CIC.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\CI.NOVO.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\CIC.IMP.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\GC.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\OPAE.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\PAEI.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\PAEE.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\etippp.jan.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\CRTAUM.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\RRL.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\OPAI.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\Qualidade\PAI.JAN.prg.rc"
