#include "C:\Program Files (x86)\XSharp\\Include\NativeResourceDefines.xh"
#include "D:\develop\xsharp\voapps\PCP\Menus.prg.rc"
#include "D:\develop\xsharp\voapps\PCP\OSPRG.Jan.prg.rc"
#include "D:\develop\xsharp\voapps\PCP\jimpedi.jan.prg.rc"
#include "D:\develop\xsharp\voapps\PCP\JNECINI.prg.rc"
#include "D:\develop\xsharp\voapps\PCP\PRNEC.Jan.prg.rc"
#include "D:\develop\xsharp\voapps\PCP\PRNECI.Jan.prg.rc"
#include "D:\develop\xsharp\voapps\PCP\PRNECT.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\PCP\pe.jan.prg.rc"
#include "D:\develop\xsharp\voapps\PCP\pe01.jan.prg.rc"
#include "D:\develop\xsharp\voapps\PCP\prnect.ja2.prg.rc"
#include "D:\develop\xsharp\voapps\PCP\pcortei.jan.prg.rc"
#include "D:\develop\xsharp\voapps\PCP\pcorte.jan.prg.rc"
#include "D:\develop\xsharp\voapps\PCP\prneca.jan.prg.rc"
#include "D:\develop\xsharp\voapps\PCP\JESTQINT.prg.rc"
#include "D:\develop\xsharp\voapps\PCP\IMPLXOP01.prg.rc"
