#include "C:\Program Files (x86)\XSharp\\Include\NativeResourceDefines.xh"
#include "D:\develop\xsharp\voapps\Me04.jan\RRS.Jan.prg.rc"
#include "D:\develop\xsharp\voapps\Me04.jan\Jan.Jins.Jesc.prg.rc"
#include "D:\develop\xsharp\voapps\Me04.jan\JINS.Inst.prg.rc"
