#include "C:\Program Files (x86)\XSharp\\Include\NativeResourceDefines.xh"
#include "D:\develop\xsharp\voapps\Ferramental\Menus.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\FERRAM.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\RO.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\LVFP.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\LVF.Jan.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\SM.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\LVFI.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\RO.Novo.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\FAPU.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\FERGI.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\ROI.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\ME01.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\LVM.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\LVMI.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\LVMP.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\cs.jan.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\FAPUI.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\FERGRP.Jan.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\cmm.acu.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\RL.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\RLI.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\FE02.JAN.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\ME01CR.Jan.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\ferhgi.jan.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\ferhg,jan.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\roapud.jan.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\ferrami.jan.prg.rc"
#include "D:\develop\xsharp\voapps\Ferramental\IMAGENS.rc"
