#include "C:\Program Files (x86)\XSharp\\Include\NativeResourceDefines.xh"
#include "d:\develop\xsharp\voapps\final\Menus.prg.rc"
#include "d:\develop\xsharp\voapps\final\RIFI.jan.prg.rc"
#include "d:\develop\xsharp\voapps\final\RIF.Jan.prg.rc"
#include "d:\develop\xsharp\voapps\final\OSCRT.Jan.prg.rc"
#include "d:\develop\xsharp\voapps\final\RIF.Fec.prg.rc"
#include "d:\develop\xsharp\voapps\final\rif.dia.prg.rc"
#include "d:\develop\xsharp\voapps\final\RIF.OBS.prg.rc"
#include "d:\develop\xsharp\voapps\final\RIF.rastro.prg.rc"
#include "d:\develop\xsharp\voapps\final\oscrt.dia.prg.rc"
#include "d:\develop\xsharp\voapps\final\jrifpr.prg.rc"
