#include "C:\develop\xsharp\voapps\CUSTO\Menus.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\janvia.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\MP01.Jan JMM - Mo Maq.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\MP02.Jan JMO - Mo Ope.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\JMT - MT - MO - Com.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\VMark.Jan Jmk.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\ME01.JEQP Maq.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\MH01.Jan JZVE.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\VMS03.Jan Jvco Comp..prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\VMS06.Jan Jseq Seq.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\ESCMP.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\JIMP.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\ESP.JEP.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\ESPMS03.JVCE.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\ESP.JEX.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\vporc.jan.JPO.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\viabiii.jan.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\JCOT.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\CUSTO\jviarev.prg.rc"
