#include "C:\develop\xsharp\voapps\TGQ\Menus.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\RACF.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\RNC.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\RNCI.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\Jan.Sac.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\Jan.Jrat.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\Jan.Jrati.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\rnc.inc.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\Jan.Sac.fec.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\RNCRI.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\RNCRF.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\RNCCI.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\RNCF.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\RNCFI.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\RNCPI.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\Jan.IQFSeq.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\CRRSSEQ.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\CRRSSET.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\MarkPPAP.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\CAFI.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\CAF.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\Jan.JCNQG.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\ADP.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\ADPI.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\Jan.Sac.Fem.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\RNCF2.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\msrd.jan.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\Jan.JCNQ.ext.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\Jan.JCNQ.int.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\Jan.JCNQ.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\Jan.JCNQ.Fec.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\Jan.Sac.Dia.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\RNC.JAN4.DIA.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\Jan.JCNQ.Dep.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\JAN.CFE.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\Jan.saci.prg.rc"
#include "C:\develop\xsharp\voapps\TGQ\JPrdSet.prg.rc"
