#include "C:\develop\xsharp\voapps\CRM\Menus.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\RIST.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\RISTI.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\RIRM.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\RIRMI.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\CRM.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\Etiqueta01.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\CRM.Jan.Inc.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\Etiqueta02.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\J01.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\J02.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\CRGEX.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\pe.jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\pe.dia.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\CRMR.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\mw02.jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\mw02.esc.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\my04.inc.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\CRM.Jan.Tro.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\CRMENS.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\Etiqueta03.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\jreq.jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\JENS.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\jensi.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\crmfn.jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\crmmot.jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\crma.jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\crmgp12.jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\crm3l.jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\crm.Jan.Tria.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\jensr.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\jensrx.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\rirm.inc.jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\pemo.jan.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\pemo.ESC.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\crmcesp.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\jlxpro.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\jcrmss.prg.rc"
#include "C:\develop\xsharp\voapps\CRM\jcrmar.prg.rc"
