BasicMenu ACCELERATORS
Begin
	78, 26427, CONTROL, VIRTKEY
	115, 26431, ALT, VIRTKEY
	115, 26433, VIRTKEY
	115, 26434, SHIFT, VIRTKEY
End
 
BasicMenu MENU
Begin
	POPUP "&File"
	BEGIN
		MENUITEM "&New\tCTRL+N", 26427
		MENUITEM "&Open", 26428
		MENUITEM "&Save", 26429
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tALT+F4", 26431
	END
	POPUP "&Window"
	BEGIN
		MENUITEM "&Cascade\tF4", 26433
		MENUITEM "&Tile\tSHIFT+F4", 26434
		MENUITEM "Close &All", 26435
	END
End
 
