#include "C:\develop\xsharp\voapps\Mail\MailCfg.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\Mail\MailPara.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\Mail\mail.jan.new.prg.rc"
#include "C:\develop\xsharp\voapps\Mail\mail.JAN.prg.rc"
