#include "C:\Program Files (x86)\XSharp\\Include\NativeResourceDefines.xh"
#include "d:\develop\xsharp\voapps\Mail\MailCfg.Jan.prg.rc"
#include "d:\develop\xsharp\voapps\Mail\MailPara.Jan.prg.rc"
#include "d:\develop\xsharp\voapps\Mail\mail.jan.new.prg.rc"
#include "d:\develop\xsharp\voapps\Mail\mail.JAN.prg.rc"
