 STANDARDSHELLMENU ACCELERATORS
Begin
	65, 20947, CONTROL, VIRTKEY
	115, 20953, ALT, VIRTKEY
	88, 20955, CONTROL, VIRTKEY
	67, 20956, CONTROL, VIRTKEY
	86, 20957, CONTROL, VIRTKEY
	35, 20964, CONTROL, VIRTKEY
	36, 20965, CONTROL, VIRTKEY
	113, 20968, SHIFT, VIRTKEY
	113, 20969, VIRTKEY
	112, 20975, VIRTKEY
	112, 20976, CONTROL, VIRTKEY
End
 
