#include "C:\Program Files (x86)\XSharp\\Include\NativeResourceDefines.xh"
#include "d:\develop\xsharp\voapps\Banco\Menus.prg.rc"
#include "d:\develop\xsharp\voapps\Banco\BA01.Jan.prg.rc"
#include "d:\develop\xsharp\voapps\Banco\MF02.JAN.prg.rc"
#include "d:\develop\xsharp\voapps\Banco\BC01.JAN.prg.rc"
#include "d:\develop\xsharp\voapps\Banco\BC01.JanB.prg.rc"
#include "d:\develop\xsharp\voapps\Banco\MI04.JAN.prg.rc"
#include "d:\develop\xsharp\voapps\Banco\ba01.imp.prg.rc"
#include "d:\develop\xsharp\voapps\Banco\BD01.JAN.prg.rc"
#include "d:\develop\xsharp\voapps\Banco\be01.jan.prg.rc"
#include "d:\develop\xsharp\voapps\Banco\bf01.jan.prg.rc"
#include "d:\develop\xsharp\voapps\Banco\Menus.rc"
