RSLE_CALCDN BITMAP "Resources\\rsle_CALCDN.BMP"

RSLE_CALCUP BITMAP "Resources\\rsle_CALCUP.BMP"

RSLE_CALDN BITMAP "Resources\\rsle_CALDOWN.BMP"

RSLE_CALUP BITMAP "Resources\\rsle_CALUP.BMP"

RSLE_FOLDDN BITMAP "Resources\\RSLE_FOLDDOWN.BMP"

RSLE_FOLDUP BITMAP "Resources\\RSLE_FOLDUP.BMP"

RSLE_MAGNIFDN BITMAP "Resources\\RSLE_MAGNIFDN.BMP"

RSLE_MAGNIFUP BITMAP "Resources\\RSLE_MAGNIFUP.BMP"


