#include "C:\Program Files (x86)\XSharp\\Include\NativeResourceDefines.xh"
#include "d:\develop\xsharp\voapps\escolhemp04\escmp04tela.prg.rc"
#include "d:\develop\xsharp\voapps\escolhemp04\jescmp04tela.prg.rc"
