#include "C:\develop\xsharp\voapps\Producao\Menus.prg.rc"
#include "C:\develop\xsharp\voapps\Producao\RD.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\Producao\RDE.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\Producao\RDF.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\Producao\RDP.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\Producao\RDPD.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\Producao\RDT.JAN.prg.rc"
#include "C:\develop\xsharp\voapps\Producao\RDT.Jan.Bx.Seq.prg.rc"
#include "C:\develop\xsharp\voapps\Producao\RDT.Jan.Bx.Nao.prg.rc"
#include "C:\develop\xsharp\voapps\Producao\Jan.IACSEQ.prg.rc"
#include "C:\develop\xsharp\voapps\Producao\jimppf.prg.rc"
