#include "C:\develop\xsharp\voapps\rh_pto\JFun.Jan.Funcao.prg.rc"
#include "C:\develop\xsharp\voapps\rh_pto\MP04.Jan.prg.rc"
#include "C:\develop\xsharp\voapps\rh_pto\mp04a.jan.prg.rc"
#include "C:\develop\xsharp\voapps\rh_pto\mp04c.jan.prg.rc"
#include "C:\develop\xsharp\voapps\rh_pto\escur.prg.rc"
#include "C:\develop\xsharp\voapps\rh_pto\escurb.prg.rc"
#include "C:\develop\xsharp\voapps\rh_pto\fo_chis.jan.prg.rc"
#include "C:\develop\xsharp\voapps\rh_pto\jqualfuncnew.prg.rc"
#include "C:\develop\xsharp\voapps\rh_pto\tabfalta.jan.prg.rc"
