#include "VOWin32APILibrary.vh"
#define _POPUPCALC_DISPLAYZ 100 
#define _POPUPCALC_SAVEEXITBUTTON 101 
#define _POPUPCALC_QUITBUTTON 102 
#define _POPUPCALC_B7 103 
#define _POPUPCALC_B8 104 
#define _POPUPCALC_B9 105 
#define _POPUPCALC_B4 106 
#define _POPUPCALC_B5 107 
#define _POPUPCALC_B6 108 
#define _POPUPCALC_B1 109 
#define _POPUPCALC_B2 110 
#define _POPUPCALC_B3 111 
#define _POPUPCALC_B0 112 
#define _POPUPCALC_BDOT 113 
#define _POPUPCALC_BPOWER 114 
#define _POPUPCALC_BPERCENT 115 
#define _POPUPCALC_BPLUSMINUS 116 
#define _POPUPCALC_BSQUAREROOT 117 
#define _POPUPCALC_BINVERT 118 
#define _POPUPCALC_BTIMES 119 
#define _POPUPCALC_BDIVIDE 120 
#define _POPUPCALC_BMINUS 121 
#define _POPUPCALC_BPLUS 122 
#define _POPUPCALC_BMEMRECALL 123 
#define _POPUPCALC_BMEMPLUS 124 
#define _POPUPCALC_BMEMMINUS 125 
#define _POPUPCALC_BMEMTIMES 126 
#define _POPUPCALC_BMEMCLEAR 127 
#define _POPUPCALC_BCLEARENTRY 128 
#define _POPUPCALC_BCLEAR 129 
#define _POPUPCALC_BEQUALS 130 
#define _POPUPCALC_MEMTEXT 131 
_PopUpCalc DIALOGEX  60, 43, 138, 197
STYLE	DS_3DLOOK|DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_SYSMENU
CAPTION	"Calculator"
FONT	8, "MS Shell Dlg"
BEGIN
	CONTROL	"", _POPUPCALC_DISPLAYZ, "Edit", ES_AUTOHSCROLL|ES_UPPERCASE|ES_MULTILINE|ES_RIGHT|WS_TABSTOP|WS_CHILD|WS_BORDER, 6, 6, 127, 18, WS_EX_CLIENTEDGE
	CONTROL	"SAVE/EXIT", _POPUPCALC_SAVEEXITBUTTON, "Button", WS_TABSTOP|WS_CHILD, 80, 177, 53, 18, WS_EX_DLGMODALFRAME|WS_EX_WINDOWEDGE
	CONTROL	"QUIT", _POPUPCALC_QUITBUTTON, "Button", WS_TABSTOP|WS_CHILD, 6, 177, 54, 18
	CONTROL	"7", _POPUPCALC_B7, "Button", BS_FLAT|WS_TABSTOP|WS_CHILD, 6, 80, 20, 18
	CONTROL	"8", _POPUPCALC_B8, "Button", BS_FLAT|WS_TABSTOP|WS_CHILD, 33, 80, 20, 18
	CONTROL	"9", _POPUPCALC_B9, "Button", BS_FLAT|WS_TABSTOP|WS_CHILD, 60, 80, 20, 18
	CONTROL	"4", _POPUPCALC_B4, "Button", BS_FLAT|WS_TABSTOP|WS_CHILD, 6, 104, 20, 19
	CONTROL	"5", _POPUPCALC_B5, "Button", BS_FLAT|WS_TABSTOP|WS_CHILD, 33, 104, 20, 19
	CONTROL	"6", _POPUPCALC_B6, "Button", BS_FLAT|WS_TABSTOP|WS_CHILD, 59, 104, 20, 19
	CONTROL	"1", _POPUPCALC_B1, "Button", BS_FLAT|WS_TABSTOP|WS_CHILD, 6, 129, 20, 18
	CONTROL	"2", _POPUPCALC_B2, "Button", BS_FLAT|WS_TABSTOP|WS_CHILD, 33, 129, 20, 18
	CONTROL	"3", _POPUPCALC_B3, "Button", BS_FLAT|WS_TABSTOP|WS_CHILD, 60, 129, 20, 18
	CONTROL	"0", _POPUPCALC_B0, "Button", BS_FLAT|WS_TABSTOP|WS_CHILD, 6, 153, 47, 19
	CONTROL	".", _POPUPCALC_BDOT, "Button", BS_FLAT|WS_TABSTOP|WS_CHILD, 60, 153, 20, 19
	CONTROL	"^", _POPUPCALC_BPOWER, "Button", WS_TABSTOP|WS_CHILD, 6, 61, 20, 12
	CONTROL	"%", _POPUPCALC_BPERCENT, "Button", WS_TABSTOP|WS_CHILD, 33, 61, 20, 12
	CONTROL	"+/-", _POPUPCALC_BPLUSMINUS, "Button", WS_TABSTOP|WS_CHILD, 60, 61, 20, 12
	CONTROL	"Sq", _POPUPCALC_BSQUAREROOT, "Button", WS_TABSTOP|WS_CHILD, 86, 61, 20, 12
	CONTROL	"1/x", _POPUPCALC_BINVERT, "Button", WS_TABSTOP|WS_CHILD, 113, 61, 20, 12
	CONTROL	"x", _POPUPCALC_BTIMES, "Button", WS_TABSTOP|WS_CHILD, 86, 80, 20, 18
	CONTROL	"/", _POPUPCALC_BDIVIDE, "Button", WS_TABSTOP|WS_CHILD, 86, 104, 20, 19
	CONTROL	"-", _POPUPCALC_BMINUS, "Button", WS_TABSTOP|WS_CHILD, 86, 129, 20, 18
	CONTROL	"+", _POPUPCALC_BPLUS, "Button", WS_TABSTOP|WS_CHILD, 86, 153, 20, 19
	CONTROL	"MR", _POPUPCALC_BMEMRECALL, "Button", WS_TABSTOP|WS_CHILD, 6, 43, 20, 12
	CONTROL	"M+", _POPUPCALC_BMEMPLUS, "Button", WS_TABSTOP|WS_CHILD, 33, 43, 20, 12
	CONTROL	"M-", _POPUPCALC_BMEMMINUS, "Button", WS_TABSTOP|WS_CHILD, 60, 43, 20, 12
	CONTROL	"Mx", _POPUPCALC_BMEMTIMES, "Button", WS_TABSTOP|WS_CHILD, 86, 43, 20, 12
	CONTROL	"MC", _POPUPCALC_BMEMCLEAR, "Button", WS_TABSTOP|WS_CHILD, 113, 43, 20, 12
	CONTROL	"CE", _POPUPCALC_BCLEARENTRY, "Button", WS_TABSTOP|WS_CHILD, 113, 80, 20, 18
	CONTROL	"C", _POPUPCALC_BCLEAR, "Button", WS_TABSTOP|WS_CHILD, 113, 104, 20, 19
	CONTROL	"=", _POPUPCALC_BEQUALS, "Button", WS_TABSTOP|WS_CHILD, 113, 129, 20, 43
	CONTROL	"Memory Contents", _POPUPCALC_MEMTEXT, "Static", SS_RIGHT|WS_CHILD, 40, 28, 94, 11
END

