#include "..\GlobalDefines.vh"
PEDateSleContextMenu MENU
Begin
	POPUP "&File"
	BEGIN
		MENUITEM "&Today", IDM_PEDateSleContextMenu_File_Today_ID
		MENUITEM "&Calendar...", IDM_PEDateSleContextMenu_File_Calendar_ID
	END
End
 