MenuPreviewGe ACCELERATORS
Begin
	80, 25728, CONTROL, VIRTKEY
	36, 25733, VIRTKEY
	33, 25734, VIRTKEY
	34, 25735, VIRTKEY
	35, 25736, VIRTKEY
End
 
MenuPreviewGe MENU
Begin
	POPUP "&Datei"
	BEGIN
		MENUITEM "&Schließen", 25726
		MENUITEM SEPARATOR
		MENUITEM "Seite &drucken\tSTRG+P", 25728
		MENUITEM "&Alles drucken", 25729
		MENUITEM SEPARATOR
		MENUITEM "&Beenden", 25731
	END
	POPUP "&Ansicht"
	BEGIN
		MENUITEM "&Erste Seite\tPOS1", 25733
		MENUITEM "&Vorherige Seite\tBILD-NACH-OBEN", 25734
		MENUITEM "&Nächste Seite\tBILD-NACH-UNTEN", 25735
		MENUITEM "&Letzte Seite\tENDE", 25736
		MENUITEM SEPARATOR
		MENUITEM "Lupe", 25738
	END
	POPUP "&Zoom"
	BEGIN
		MENUITEM "400 %", 25740
		MENUITEM "300 %", 25741
		MENUITEM "250 %", 25742
		MENUITEM "200 %", 25743
		MENUITEM "150 %", 25744
		MENUITEM "100 %", 25745
		MENUITEM "  75 %", 25746
		MENUITEM "  50 %", 25747
		MENUITEM "  25 %", 25748
		MENUITEM SEPARATOR
		MENUITEM "Ganze Seite", 25750
		MENUITEM "Seitenbreite", 25751
		MENUITEM "Seitenhöhe", 25752
	END
	POPUP "&Fenster"
	BEGIN
		MENUITEM "&Überlappend", 25754
		MENUITEM "&Nebeneinander", 25755
		MENUITEM "&Untereinander", 25756
	END
	POPUP "&?"
	BEGIN
		MENUITEM "&Info", 25758
	END
End
 
