MenuPreview ACCELERATORS
Begin
	80, 25628, CONTROL, VIRTKEY
	115, 25631, ALT, VIRTKEY
	36, 25633, VIRTKEY
	33, 25634, VIRTKEY
	34, 25635, VIRTKEY
	35, 25636, VIRTKEY
End
 
MenuPreview MENU
Begin
	POPUP "File"
	BEGIN
		MENUITEM "&Close", 25626
		MENUITEM SEPARATOR
		MENUITEM "&Print Page\tSTRG+P", 25628
		MENUITEM "Print &All", 25629
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tALT+F4", 25631
	END
	POPUP "&View"
	BEGIN
		MENUITEM "&First\tPOS1", 25633
		MENUITEM "&Previous\tBILD-NACH-OBEN", 25634
		MENUITEM "&Next\tBILD-NACH-UNTEN", 25635
		MENUITEM "&Last\tENDE", 25636
		MENUITEM SEPARATOR
		MENUITEM "Zoom in/out", 25638
	END
	POPUP "&Zoom"
	BEGIN
		MENUITEM "400 %", 25640
		MENUITEM "300 %", 25641
		MENUITEM "200 %", 25642
		MENUITEM "150 %", 25643
		MENUITEM "100 %", 25644
		MENUITEM "  75 %", 25645
		MENUITEM "  50 %", 25646
		MENUITEM "  25 %", 25647
		MENUITEM SEPARATOR
		MENUITEM "Page", 25649
		MENUITEM "Page Width", 25650
		MENUITEM "Page Height", 25651
	END
	POPUP "&Window"
	BEGIN
		MENUITEM "&Cascade", 25653
		MENUITEM "&Tile", 25654
	END
	POPUP "&?"
	BEGIN
		MENUITEM "&Info", 25656
	END
End
 
MenuPreviewContext MENU
Begin
	POPUP "&Zoom"
	BEGIN
		MENUITEM "Dummy", 25648
	END
End
 
