CurFaust Cursor d:\develop\vo\ICO\Faust.cur
CurHand Cursor d:\develop\vo\ICO\Hand.cur
CurZoomIn Cursor d:\develop\vo\ICO\ZoomIn.cur
CurZoomOut Cursor d:\develop\vo\ICO\ZoomOut.cur
POWVOBMP BITMAP d:\develop\vo\BMP\POWVO.BMP
TB_BL_PRINTER Bitmap "Resources\\TB BL-Printer.bmp"

