#include "C:\Program Files (x86)\XSharp\\Include\NativeResourceDefines.xh"
#include "D:\develop\xsharp\voapps\Instrumentos\Menus.prg.rc"
#include "D:\develop\xsharp\voapps\Instrumentos\Jan.Jins.JCAL.Dia.prg.rc"
#include "D:\develop\xsharp\voapps\Instrumentos\Jan.JACO -  Acao Corretiva.prg.rc"
#include "D:\develop\xsharp\voapps\Instrumentos\jan.jme04.prg.rc"
#include "D:\develop\xsharp\voapps\Instrumentos\Jan.JME4CC.CertCalib.prg.rc"
#include "D:\develop\xsharp\voapps\Instrumentos\Jan.JME4CCI.CertCalibItens.prg.rc"
#include "D:\develop\xsharp\voapps\Instrumentos\Jan.JMOP - Mao de Obra Operador.prg.rc"
#include "D:\develop\xsharp\voapps\Instrumentos\Jan.JOCC - Ordem Calib..prg.rc"
#include "D:\develop\xsharp\voapps\Instrumentos\Jan.JOCCI.Ord. Cal. Itens.prg.rc"
#include "D:\develop\xsharp\voapps\Instrumentos\Jan.JREQ.prg.rc"
