 STANDARDSHELLMENU ACCELERATORS
Begin
	36, 27152, CONTROL, VIRTKEY
	35, 27155, CONTROL, VIRTKEY
	113, 27163, SHIFT, VIRTKEY
	113, 27164, VIRTKEY
	112, 27166, VIRTKEY
	112, 27167, CONTROL, VIRTKEY
End
 
