 ICO_AJUDA Icon "Resources\\AJUDA.ICO"
 ICO_autook Icon "Resources\\AUTOOK.ICO"
 ICO_AVANCA Icon "Resources\\NEXT.ICO"
 ICO_AZ  Icon "Resources\\AZ.ICO"
 ICO_CAMERA Icon "Resources\\CAMERA.ICO"
 ICO_CHAVE2 Icon "Resources\\CHAVE2.ICO"
 ICO_delete Icon "Resources\\DELETE.ICO"
 ICO_editor Icon "Resources\\EDITOR.ICO"
 ico_filtro Icon "Resources\\FILTRO.ICO"
 ICO_FIND Icon "Resources\\FIND.ICO"
 ICO_GRAVA Icon "Resources\\SAVE.ICO"
 ICO_HAND Cursor "Resources\\curhand.cur"
 ICO_mail Icon "Resources\\MAIL.ICO"
 ICO_mailarq Icon "Resources\\MAILARQ.ICO"
 ICO_NEW Icon "Resources\\NEW.ICO"
 ICO_NEXT Icon "Resources\\NEXT.ICO"
 ICO_OK Icon "Resources\\OK.ICO"
 ICO_PREVIOUS Icon "Resources\\PREVIOUS.ICO"
 ICO_PRINT Icon "Resources\\PRINT.ICO"
 ICO_PRINTCFG Icon "Resources\\PRINTCFG.ICO"
 ICO_RETORNA Icon "Resources\\PREVIOUS.ICO"
 ICO_SAIR Icon "Resources\\SAIR.ICO"
