#include "C:\develop\xsharp\voapps\mlibwvo27\busca.prg.rc"
#include "C:\develop\xsharp\voapps\mlibwvo27\Help About.prg.rc"
#include "C:\develop\xsharp\voapps\mlibwvo27\Jcom.prg.rc"
#include "C:\develop\xsharp\voapps\mlibwvo27\buscadata.prg.rc"
#include "C:\develop\xsharp\voapps\mlibwvo27\buscaarq.prg.rc"
#include "C:\develop\xsharp\voapps\mlibwvo27\dbserver_BuscaPalavra.prg.rc"
#include "C:\develop\xsharp\voapps\mlibwvo27\dbserver_filtro.jan.prg.rc"
#include "C:\develop\xsharp\voapps\mlibwvo27\dbserver_Indexar.prg.rc"
#include "C:\develop\xsharp\voapps\mlibwvo27\dbserver_Smartfind.prg.rc"
#include "C:\develop\xsharp\voapps\mlibwvo27\richeedit.prg.rc"
#include "C:\develop\xsharp\voapps\mlibwvo27\dbserver_MenuEdicao.prg.rc"
#include "C:\develop\xsharp\voapps\mlibwvo27\dbserver_progwin.prg.rc"
#include "C:\develop\xsharp\voapps\mlibwvo27\fotoview.prg.rc"
#include "C:\develop\xsharp\voapps\mlibwvo27\icones.rc"
#include "C:\develop\xsharp\voapps\mlibwvo27\Input Dlg.rc"
