#include "C:\Program Files (x86)\XSharp\\Include\NativeResourceDefines.xh"
#include "D:\develop\xsharp\voapps\msseqcom\Jan.ms06.prg.rc"
#include "D:\develop\xsharp\voapps\msseqcom\Jan.ms03.prg.rc"
#include "D:\develop\xsharp\voapps\msseqcom\Dia.Ms01.prg.rc"
